nav ul li{
    display: inline-block;
    margin-left: 10px;
}

/* Button style*/
nav ul li button:hover{
    background-color: cyan;
}
nav ul li button{
    background-color: royalblue;
    padding: 5px;
    font-family: sans-serif;
    border-radius: 5px;
    border-color: royalblue;
}

.search {
    float: right;
    padding-right: 50px;
}

/* Table style*/
.state {
    margin-left: 50px;
}
.state table {
    margin: 50px;
    border-collapse: collapse;
}
.state table thead tr th, .state table tbody tr td {
    border: 1px solid black;
    padding: 5px 25px;
}
.onSelect{
    padding: 0%;
}
.delBtn,.selectBtn{
    background-color: red;
    width: 100%;
}
.unSelectBtn{
    background-color: green;
}
.editBtn{
    background-color: rgb(0, 119, 255);
}