<form  *ngIf="productFormGroup" [formGroup]="productFormGroup">
    <label class="label labelInput">Title </label>
        <input type="text" formControlName="title" 
        [ngClass]="{'is-invalid':submitted && productFormGroup.controls?.['title']?.errors}"/>
        <div *ngIf="submitted && productFormGroup.controls?.['title']?.errors">
            <div *ngIf="productFormGroup.controls?.['title']?.errors" ngClass="errors"> Name required!</div>
        </div>

    <label class="label labelInput">Author </label>
        <input type="text" formControlName="author"
        [ngClass]="{'is-invalid':submitted && productFormGroup.controls?.['author']?.errors}"/>
        <div *ngIf="submitted && productFormGroup.controls?.['author']?.errors">
            <div *ngIf="productFormGroup.controls?.['author']?.errors" ngClass="errors"> Author required!</div>
        </div>

    <label class="label labelInput">Type </label>
        <input type="text" formControlName="type"
        [ngClass]="{'is-invalid':submitted && productFormGroup.controls?.['type']?.errors}"/>
        <div *ngIf="submitted && productFormGroup.controls?.['type']?.errors">
            <div *ngIf="productFormGroup.controls?.['type']?.errors" ngClass="errors"> Type required!</div>
        </div>

    <div><label class="label labelCheckbox">selected </label>
        <input type="checkbox"formControlName="selected"/></div>

    <div><label class="label labelCheckbox">Available </label>
        <input type="checkbox" formControlName="available"/></div>

    <button (click)="onSaveProduct()"><span>Save</span></button>
</form>
