ul {
  background-color: black;
  margin: inherit;
  padding: inherit;
  width: inherit;
}
ul li {
  display: inline-block;
  padding: 15px;
}
ul li span, ul li a{
  padding: 16px;
  color: white;
  font-size: larger;
  text-decoration: none;
}
ul li:not(:first-child) {
  margin-left: 50px;
}
ul li a:hover {
  background-color: rgba(23, 26, 194, 0.959);
}
