nav ul li{
  display: inline-block;
  margin-left: 10px;
}

/* Button style*/
nav ul li button:hover{
  background-color: cyan;
}
nav ul li button{
  background-color: royalblue;
  padding: 5px;
  font-family: sans-serif;
  border-radius: 5px;
  border-color: royalblue;
}

.search {
  float: right;
  padding-right: 50px;
}
