<div *ngIf="productInput$ | async as result" [ngSwitch]="result.dataState">
  <div *ngSwitchCase="dataStateEnum.LOADING" class="state">
      Loading.........
  </div>
  <div *ngSwitchCase="dataStateEnum.ERROR" class="state">
      <div >{{result.errorMessage}}</div>
  </div>
  <div *ngSwitchCase="dataStateEnum.LOADED" class="state">
      <table>
          <thead>
              <tr>
                  <th>ID</th><th>Title</th><th>Author</th><th>Type</th><th>Selected</th><th>Available</th><th colspan="3"></th>
              </tr>
          </thead>
          <tbody>
              <app-product-item [product]="p"
                                (productEventEmitter)="onActionEvent($event)"
                                *ngFor="let p of result.data" style="display: contents;">
              </app-product-item>
          </tbody>
      </table>
  </div>
</div>

