<tr *ngIf="product">
  <td>{{product.id}}</td>
  <td>{{product.title}}</td>
  <td>{{product.author}}</td>
  <td>{{product.type}}</td>
  <td>{{product.selected}}</td>
  <td>{{product.available}}</td>
  <td>
      <button (click)="onSelect(product)" ngClass="onSelect">
          <span *ngIf="!product.selected"ngClass="selectBtn">SELECT</span>
          <span *ngIf="product.selected" ngClass="unSelectBtn">UNSELECT</span>
      </button>
  </td>
  <td>
      <button (click)="onEdit(product)" ngClass="editBtn">
          <span class="fa fa-edit"></span>
      </button>
  </td>
  <td>
      <button (click)="onDelete(product)" ngClass="delBtn">
          <span class="fa fa-trash"></span>
      </button>
  </td>
</tr>
